@{
    ViewData["Title"] = "Country Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_Country.Models.LOC_CountryModel


<form method="post" asp-controller="LOC_Country" asp-action="LOC_CountrySave" asp-area="LOC_Country">
    @Html.HiddenFor(x=>x.CountryID)
    <div class="mb-3">
        <label>Country Name</label>
        <input type="text" placeholder="Enter Country Name" asp-for="CountryName" class="form-control">
    </div>
    <div class="mb-3">
        <label>Country Code</label>
        <input type="text" name="CountryCode" placeholder="Enter Country Code" asp-for="CountryCode" class="form-control">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" asp-area="LOC_Country" asp-action="LOC_CountrySave" asp-controller="LOC_Country" value="Add" class="form-control"/>
    </div>
</form>


