@{
    ViewData["Title"] = "Country Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Country Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Country Name">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Country Code</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Country Code">
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="button">Add</button>
</div>
