@{
    ViewData["Title"] = "Country Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_Country.Models.LOC_CountryModel

<div>
    <form method="post" asp-controller="LOC_Country" asp-action="LOC_CountrySave" asp-area="LOC_Country">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Country Name</label>
            <input type="text" value="@Model.CountryName" asp-for="CountryName" />
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Country Code</label>
            <input type="text" value="@Model.CountryCode" asp-for="CountryCode" />
            <span asp-validation-for="CountryCode" class="text-danger"></span>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" name="CountryID" value="@Model.CountryID" />
            <input type="submit" value="Save" class="submit" />
        </div>
    </form>
</div>


