@{
    ViewData["Title"] = "Branch Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.MST_Branch.Models.MST_BranchModel

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Branch Add/Edit</span>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="col-md-9">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">Branch Add/Edit</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" role="form" method="post" asp-controller="MST_Branch" asp-action="MST_BranchSave" asp-area="MST_Branch">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(x=>x.BranchID)
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Branch Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="BranchName" placeholder="Enter Branch Name" />
                                    <span asp-validation-for="BranchName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Branch Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="BranchCode" placeholder="Enter Branch Code" />
                                    <span asp-validation-for="BranchCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn green" value="Save" />
                                    <a class="btn default" asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="MST_BranchList">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


