@{
    ViewData["Title"] = "State Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_State.Models.LOC_StateModel

<div>
    <form method="post" asp-controller="LOC_State" asp-action="LOC_StateSave" asp-area="LOC_State">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input type="text" value="@Model.StateName" asp-for="StateName" class="form-control" id="floatingInput" placeholder="State Name" />
            <label for="floatingInput">State Name</label>
            <span asp-validation-for="StateName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" value="@Model.StateCode" asp-for="StateCode" class="form-control" id="floatingInput" placeholder="State Name" />
            <label for="floatingInput">State Code</label>
            <span asp-validation-for="StateCode" class="text-danger"></span>
        </div>
        <div class="form-group dropdown mb-3">
            <label class="p-2">Country Name</label>
            <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                <option value="">Select Country</option>
            </select>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" name="StateID" value="@Model.StateID" />
            <input type="submit" value="Save" class="submit btn btn-outline-primary" />
        </div>
    </form>
</div>


