@{
    ViewData["Title"] = "State Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_State.Models.LOC_StateModel
<main class="main" id="main">
    <div class="pagetitle">
        <h1>State</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a></li>
                <li class="breadcrumb-item"><span>State Add</span></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <form class="row g-3" role="form" method="post" asp-controller="LOC_State" asp-action="LOC_StateSave" asp-area="LOC_State">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x=>x.StateID)
        <div class="col-md-12">
            <div class="form-floating mb-3">
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
                <label for="floatingSelect">Country Name</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="StateName" placeholder="Enter Country Name" />
                <span asp-validation-for="StateName" class="text-danger"></span>
                <label for="floatingName">State Name</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="StateCode" placeholder="Enter Country Name" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
                <label for="floatingName">State Code</label>
            </div>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <a class="btn btn-outline-secondary" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateList">Back</a>
        </div>
    </form>
    <!-- END SAMPLE FORM PORTLET-->
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


